*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav {
  background-color: rgb(255, 131, 152);
  box-shadow: 0 1px 0.2rem rgb(255, 131, 152);
  color: white;
  padding: 0.8rem;
  font-size: 20px;
}

.list{
  padding: 1rem;
  box-shadow: 0 2px 0.2rem grey;
}

.like-btn{
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  color: rgb(255, 131, 152);
}

p {
  margin-bottom: 0.3rem;
}

h4{
  font-size: 18px;
  margin-bottom: 0.3rem;
}

.input {
  padding: 0.6rem;
}

.input input{
  padding: 0.3rem;
  line-height: 0;
  border-radius: 0.3rem;
  border: 1px solid rgb(255, 131, 152);
  transition: all 0.2s;
}

.input input:hover{
  box-shadow: 0 0 0.3rem rgb(255, 131, 152);
}

.btn{
  padding: 0.3rem;
  height: 28.92px;
  line-height: 0;
  margin-left: 0.3rem;
  background-color: white;
  border: 1px solid rgb(255, 131, 152);
  color: rgb(255, 131, 152);
  border-radius: 0.3rem;
  transition: all 0.2s;
}

.btn:hover {
  background-color: rgb(255, 131, 152);
  color: white;
}

.btn:active {
  background-color: white;
  color: rgb(255, 131, 152);
}


.modal-container{
  display: flex;
  justify-content: center;
}

.Modal{
  text-align: center;
  box-shadow: 0 0 0.2rem rgb(255, 131, 152);
  width: 10rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
}