*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color: rgb(255, 115, 139);
  /* box-shadow: 0 2px 0.3rem rgb(255, 115, 139); */
  padding: 1rem;
  color: white;
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}

.shop-title{
  font-size: 22px;
}

.product-list{
  display: flex;
  justify-content: center;
  width: 100%;
}

.product{
  box-shadow: 0 0 0.4rem grey;
  border-radius: 0.4rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}